/* 768px */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 4.2rem;
    line-height: 15rem;
    margin-left: 0;
  }
}

/* 580px */
@media (max-width: 580px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 4rem;
    line-height: 14rem;
    margin-left: 0;
  }
}

/* 520px */
@media (max-width: 520px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 3.8rem;
    line-height: 13rem;
    margin-left: 0;
  }
}

/* 480px */
@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 3.6rem;
    line-height: 12rem;
    margin-left: 0;
  }
}

/* 425px */
@media (max-width: 425px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 3.4rem;
    line-height: 11rem;
    margin-left: 0;
  }
}

/* 375px */
@media (max-width: 375px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 3.2rem;
    line-height: 10rem;
    margin-left: 0;
  }
}

/* 320px */
@media (max-width: 320px) {
  html {
    font-size: 62.5%;
  }

  nav {
    display: none;
  }

  /* Header */
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 8px;
  }

  .header_menu_hamburguer {
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .header_menu_section.active {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #07c972, #359d9e);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_menu_section.active nav {
    display: block;
  }

  .header_menu_section.active .header_menu_hamburguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header_menu_section.active .header_menu_hamburguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header_menu_section.active .header_menu_hamburguer .two {
    opacity: 0;
  }

  .header_menu_section.active .header_menu_hamburguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .header_menu_section.active nav ul {
    display: block;
    text-align: center;
  }

  .header_menu_section.active nav ul li a {
    transition-duration: 0.3s;
    font-size: 3rem;
    line-height: 9rem;
    margin-left: 0;
  }
}
